{% extends 'layout.html.twig' %}

{% block title %}charte{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        p, li{
            font-size: small;
        }
    </style>
{% endblock %}

 {% block body %}
     <div class="parallax-container">
         <div class="parallax">
             <img src="{{ asset('pictures/cheminee.gif') }}" class="responsive-img" alt="Parallax">
             <h2 class="header center title-index-color">Charte de confiance</h2>
         </div>
     </div>
     <div class="section white">
         <div class="row container">
             <h2 class="header center">Présentation de la société</h2>
             <p class="grey-text text-darken-3 lighten-3 bold">La charte de confiance de Kepp Connection a été élaborée
                 et mise en œuvre par son dirigeant, Ludovic Gomez, en collaboration avec ses salariés ainsi que
                 ses partenaires. L’ensemble de ces règles et principes est rassemblé dans une Charte éthique.</p>
         </div>
         <div class="row container">
             <h4 class="header center">Une charte qualité au service de nos clients</h4>
             <ul>
                 <li>L’engagement du conseil tout au long de la prestation</li>
                 <li class="li-margin">Keep Connection, par son dirigeant, s’engage à être force de conseil et de proposition auprès de son
                     client en lui apportant des solutions pour optimiser et moderniser son parc informatique.<br></li>
                 <li>La réactivité, le respect des délais de livraison</li>
                 <li class="li-margin">Keep Connection s’engage à être réactif par rapport aux besoins de son client en mettant tout en
                       œuvre pour garantir le succès de son projet dans les délais impartis.<br></li>
                 <li>La compétence des intervenants</li>
                 <li class="li-margin">Keep Connection s’engage à mettre à la disposition du client des profils spécialisés. Tous les profils
                     proposés possèdent un niveau d’études supérieures et sont dotés d’une solide expérience en matière
                     de gestion de parcs informatiques.<br></li>
                 <li>L’engagement de confidentialité</li>
                 <li class="li-margin">Keep Connection s’engage à respecter la confidentialité des informations et des personnes dont elle
                     a eu connaissance dans le cadre de sa mission.<br></li>
                 <li>L’engagement coûts / qualité</li>
                 <li class="li-margin">Keep Connection assure avoir mis tout en œuvre pour proposer au client la solution la plus adaptée pour
                     la conduite de ce projet, dans le respect des exigences de qualité, de délais de mise en œuvre et de
                     maîtrise des coûts.<br></li>
             </ul>
         </div>
         <div class="row container">
             <h4 class="header center">Une charte éthique de Keep Connection</h4>
             <ul>
                 <li class="li-margin">La Charte éthique de Keep Connection constitue un socle commun de principes et de règles respectueuses
                     des valeurs sociétales, des bonnes pratiques en matière de gestion des ressources humaines et de conduite des affaires.
                     Elle s'adresse à tous les partenaires du groupe qu'ils soient clients, prestataires ou salariés.</li>
                 <li class=>Respect de l’individu et intégrité</li>
                 <li class="li-margin">Keep Connection s’engage à respecter les lois et règlements applicables, notamment tout ce qui vise les
                     Droits de l’Homme, les normes de qualité, d’hygiène et de sécurité, les règles de lutte contre la corruption, la fiscalité
                     et la communication fidèle des informations financières, les règles de concurrence et d’accessibilité. Keep Connection
                     s’engage par ailleurs à mettre tout en œuvre pour supprimer et éviter les inégalités, notamment en matière de recrutement
                     et de salaire.</li>
                 <li class="">Diversité</li>
                 <li class="li-margin">Keep Connection crée un environnement favorable à la diversité (y compris à l’embauche) en capitalisant sur
                     les différences entre les individus et en cherchant à valoriser le potentiel de chacun au sein de l’entreprise. La diversité
                     se traduit par l’acceptation de l’autre quelle que soit sa différence, que celle-ci soit liée au sexe, à un handicap,
                     une situation familiale, un patronyme, une zone d’habitation, une préférence sexuelle, une conviction religieuse, une activité
                     syndicale, un âge, une opinion politique ou philosophique, une origine raciale, sociale, culturelle ou nationale.</li>
                 <li class="">Confidentialité et respect de la vie privée</li>
                 <li class="li-margin">Keep Connection s'engage à limiter la diffusion d’informations confidentielles aux seules personnes ayant
                     une raison légitime d’en prendre connaissance et ceci dans l’intérêt de la société, de ses salariés et de ses clients.
                     Quel que soit le support de l’information (électronique ou papier), Keep Connection s’engage à mettre tout en œuvre pour
                     conserver les informations confidentielles en toute sécurité. Par ailleurs, Keep Connection s'engage à ne conserver que les
                     seules données nécessaires et sur une durée n'excédant jamais celle imposée par les obligations légales ou professionnelles.</li>
                 <li class="">Considération du client</li>
                 <li class="li-margin">Keep Connection s’engage à être toujours à l’écoute des besoins de ses clients, à mettre tout en œuvre pour
                     répondre à leurs attentes et éviter tout conflit d’intérêt ou, le cas échéant, à informer immédiatement le client.</li>
                 <li class="">Responsabilisation et excellence</li>
                 <li class="li-margin">Keep Connection s'engage - dans une approche constructive et une volonté d’excellence - à prendre en considération
                     toutes les critiques et à se remettre régulièrement en question afin d’améliorer ses processus. Mon entreprise admet, corrige et
                     sait apprendre et s’enrichir de ses erreurs.</li>
                 <li class="">Choix et traitement équitable des fournisseurs</li>
                 <li class="li-margin">Keep Connection s'engage à encourager la mise en place de procédures d’appels d’offres pour la sélection des prestataires,
                     ceci en toute transparence. Keep Connection s’engage à payer ses fournisseurs aux échéances et conditions prévues contractuellement
                     (dans la mesure où ceux-ci ont respecté leurs propres obligations).</li>
                 <li class="">Contribution à la collectivité</li>
                 <li class="li-margin">Keep Connection se déclare socialement responsable et prête à apporter une aide et une contribution à des initiatives
                     d’intérêt général afin de favoriser le développement des collectivités dans lesquelles notre activité se développe.</li>
             </ul>
         </div>
         <div class="row container">
             <h4 class="header center">Une charte environnementale</h4>
             <p class="bold">Keep Connection met en œuvre une politique environnementale au travers de ses activités et s’engage sur les actions suivantes :</p>
             <p>Respect de l’environnement<br>
                 Keep Connection s’engage dans le traitement du matériel informatique usagé. Notre engagement nous conduit à réaliser des actions eco-responsable.</p>
             <p>Identifier les déchets pouvant être recyclés dans l’entreprise</p>
             <ul>
                 <li class=""><i class="material-icons material-color">check</i>Les cartouches d’encre d’imprimantes et photocopieurs sont envoyées systématiquement pour recyclage à des sociétés spécialisées dans cette récupération.</li>
                 <li class=""><i class="material-icons material-color">check</i>Le matériel informatique est repris par les sociétés spécialisées de retraitement de ce matériel.</li>
                 <li class=""><i class="material-icons material-color">check</i>Piles, batteries et ampoules usagées sont déposés dans des conteneurs prévus à cet effet.</li>
                 <li class=""><i class="material-icons material-color">check</i>Papiers et cartons usagés : des poubelles jaunes sont prévues à cet usage à l’extérieur du bâtiment.</li>
             </ul>
             <p>Maitriser la consommation d’énergie et des consommables</p>
             <ul>
                 <li class=""><i class="material-icons material-color">check</i>Prendre des objectifs de réduction de consommation d’énergie</li>
                 <li class=""><i class="material-icons material-color">check</i>Gestion de la consommation d’énergie sur son lieu de travail</li>
                 <li class=""><i class="material-icons material-color">check</i>Gestion des papiers : limiter les photocopies, impressions couleur</li>
             </ul>
             <p>Prévenir et réduire les déchets<br>
                 L’entreprise prévoit l’utilisation de matériel tenant compte de la gestion des déchets en utilisant des matériaux facilement
                 recyclables ou des matériaux moins générateurs de nuisance de l’environnement.</p>
             <p>Suivi et évaluer la Charte<br>
                 Le dirigeant de Keep Connection met en place un plan d’action afin de faciliter les actions définies dans la présente charge. La charte
                 est valable 1 an, au terme de laquelle les résultats de son application seront évalués. La charte pourra être modifiée
                 suivant les résultats de l’évaluation.</p>
         </div>
     </div>
     <!-- End Parallax  -->
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}