{% extends 'layout.html.twig' %}

{% block title %}Modifier le téléchargement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center">
            <h1>Téléchargements</h1>
            <h3>Modification du téléchargement</h3>
        </div>
        <div class="row center">
            {{ include('downloads/_form.html.twig', {'button_label': 'Update'}) }}
            {#            DIV CLASS ROW#}
                <div class="col s12 m4 l4">
                    {{ include('downloads/_delete_form.html.twig') }}
                </div>
                <div class="col s12 m4 l4">
                    <a href="{{ path('downloads_index') }}">Retour aux téléchargements</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
