{% extends 'layout.html.twig' %}

{% block title %}Nouveau téléchargement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center">
            <h1>Téléchargements</h1>
            <h3>Ajouter un téléchargement</h3>
        </div>
        <div class="row center">
            {{ include('downloads/_form.html.twig') }}
                <div class="col s12 m6 l6">
                    <a href="{{ path('downloads_index') }}">Retour aux téléchargements</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
