{% extends 'layout.html.twig' %}

{% block title %}Modidier mon ticket{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center">
            <h1>Télémaintenance</h1>
            <h3>Modification mon ticket</h3>
        </div>
        <div class="row center">
                {{ include('ticketting/_form.html.twig') }}
{#            DIV CLASS ROW#}
                <div class="col s12 m4 l4">
                    {{ include('ticketting/_delete_form.html.twig') }}
                </div>
                <div class="col s12 m4 l4">
                    <a href="{{ path('ticketting_index') }}">Retour à mes tickets</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
