{% extends 'base.html.twig' %}

{% block title %}Modidier mon ticket{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center">
            <h1>Télémaintenance</h1>
            <h3>Modification mon ticket</h3>
        </div>
        <div class="row">
            {{ include('ticketting/_form.html.twig') }}
            <a href="{{ path('ticketting_index') }}">Retour à mes tickets</a>
            {{ include('ticketting/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
